<app-nav></app-nav>
<!-- <div class="content" role="main"> -->
<router-outlet></router-outlet>
<!-- </div> -->
<div class="background-gradient mx-auto"></div>
<div class="mosaic">
	<div class="tile">
		<img src="assets/images/sneaker-red.jpg" />
	</div>
	<div class="tile">
		<img src="assets/images/shirt-assorted.jpg" />
	</div>
	<div class="tile">
		<img src="assets/images/sneaker-background-3.jpg" />
	</div>
	<div class="tile">
		<img src="assets/images/sneaker-skate-red.jpg" />
	</div>
	<div class="tile">
		<img src="assets/images/sneaker-background-2.jpg" />
	</div>
</div>
