<div class="container">
	<form class="mx-auto">
		<h2 class="text-center">Checkout</h2>
		<p>Please check order details carefully.</p>
		<p>If there is a mistake, please go back and fix it before placing your order.</p>
		<div class="form-group mt-auto">
			<div class="form-group row">
				<div class="col">Sub-total Price</div>
				<div class="col text-right">${{ getPrice() }}</div>
			</div>
			<div class="form-group row">
				<div class="col">Total Price</div>
				<div class="col text-right">${{ getShippingPrice() }}</div>
			</div>
			<div class="form-group row"></div>
		</div>
	</form>
	<button (click)="postPlaceOrder()" [routerLink]="['/thankyou']" class="form-control btn btn-lg btn-success mt-auto">
		Place Order
	</button>
</div>
